@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://www.kitakarya.com/wp-content/uploads/2018/11/manfaat-team-building.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px black;
}

.top-wrapper p {
  margin-bottom: 2px;
  text-shadow: 2px 2px 5px black;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: tomato;
  font-weight: bold;
}

li.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: wheat;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 1s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.5s;
}

header {
  height: 65px;
  width: 100%;
  background-color: white;
  position :fixed;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 10;
}

.header-logo {
  width: 124px;
  margin-top: 20px;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: burlywood;
}

.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img {
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  background-size: cover;
}

.lesson-icon p {
  position: absolute;
  width: 100%;
  color: black;
}

.text-contents {
  width: 50%;
  float: left;
  position: absolute;
  display: block;
  left: 700px;
  bottom: -60px;
  margin-top: 15px;
  margin-left: 20px;
  text-align: left;
  font-size: 18px;
  color: black;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.contair {
  position: relative;
}

input[type=text], input[type=submit] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 5px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
  background-color: blueviolet;
}

footer img {
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}