/* tablet */
@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  .heading h3 {
    margin-top: -20px;
  }
  
  .text-content {
    width: 50%;
    position: relative;
    display: inline-block;
    left: 0px;
    bottom: 0px;
    text-align: center;
    font-size: 15px;
    color: grey;
  }

  .text-contents {
    width: 80%;
    position: relative;
    display: inline-block;
    left: 350px;
    bottom: 450px;
    text-align: left;
    font-size: 15px;
    color: black;
  }
}


/*smartphone*/
@media (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .header-logo {
    font-size: 18px;
  }
  
  .header-right a {
    position: relative;
    display: block;
    line-height: 60px;
    padding: 0 10px;
    font-size: 12px;
  }
  
  .top-wrapper h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .text-contents {
    width: 80%;
    position: relative;
    display: table;
    font-size: 14px;
    line-height: 30px;
    color: black;
    left: 40px;
    top: -10px;
  }
  
  .header-right {
    display: none;
  }
 .menu-icon {
    display: block;
  }

  
  
}
